
header.header
  .overlay
    nav.overlayMenu
      ul(role='menu')
        li
          a(href='#', role='menuitem') Parity
        li
          a(href='#', role='menuitem') Abstract
        li
          a(href='#', role='menuitem') Educated
        li
          a(href='#', role='menuitem') Decorum
        li
          a(href='#', role='menuitem') Tenuous
  #navToggle.navBurger(role='navigation')
  a.logo(href='#')
    | Code
    span Design
    p Дизайн, который<br>приносит деньги

