extends common/layout

block content
  section.section_01
    .codedesign
      .code.big_font
        p
          span +
          | Code
          
      .design.big_font
        p Design
          span -
    svg(viewBox='0 0 1000 550' preserveAspectRatio="none")
      path(d='M 0 800 V 0 300 C 250 200, 400 300, 480 140 S 800 60, 1000 0  V 1100 800 z')
      // path(d='M 0 800 V 0 300 C 250 200, 400 300, 480 140 S 800 60, 1000 0  V 1100 800 z') 
  section.section_02