extends common/layout

block content
  section.section_01
    .codedesign
      .wht_u_nd.title Что нужно тебе?#[br]#[hr]
      
      .code.big_font
        p
          span.code_action +
          | Code
          
      .design.big_font
        p Design
          span.code_action -
    svg(viewBox='0 0 1000 550' preserveAspectRatio="none")
      path.action(d='M 0 800 V 0 300 C 250 200, 400 300, 480 140 S 800 60, 1000 0  V 1100 800 z')
      // path(d='M 0 800 V 0 300 C 250 200, 400 300, 480 140 S 800 60, 1000 0  V 1100 800 z') 
  section.section_02
    
    .sec_2_main
      .title Наши работы
      .content
        .back_3
        .back_2
        .back_1
        .layout
    .info
      .info_content#1
        .info_content_text
          .title_2 Барбершоп ДваБро в Новосибирске
          .text Landing Page
      .info_content#2
        .info_content_text
          .title_2 Летний лагерь "Солнечная поляна"
          .text Landing Page
      .info_content#3
        .info_content_text
          .title_2 Компания "Техно Универсал"
          .text Landing Page
  section.section_03
    .sec_3_main
      .title Этапы работы с нами
      .browser
