// Файл для подключения нестандартных шрифтов
@font-face {
	font-family: "FiraSans_medium";
	src: url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap") format("truetype");
}

@font-face {
	font-family: "FiraSans_light";
	src: url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap') format("truetype");
}
